*{

margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;

}


body{

background:linear-gradient(135deg,#2563eb,#4f46e5);
min-height:100vh;
padding:40px;

}



.container{

max-width:800px;
height:80vh;
margin:auto;
background:white;
padding:30px;
border-radius:20px;
display:flex;
flex-direction:column;
box-shadow:0 20px 40px rgba(0,0,0,.15);

}



h1{

text-align:center;
color:#2563eb;
margin-bottom:20px;

}



#chatBox{

flex:1;
overflow-y:auto;
padding:15px;

}



.message{

padding:15px;
border-radius:15px;
margin-bottom:15px;
max-width:70%;

}



.bot{

background:#f1f5f9;

}



.user{

background:#2563eb;
color:white;
margin-left:auto;

}



.input-box{

display:flex;
gap:10px;

}



.input-box input{

flex:1;
padding:15px;
border-radius:12px;
border:2px solid #ddd;
outline:none;

}



button{

padding:15px 25px;
background:#2563eb;
color:white;
border:none;
border-radius:12px;
cursor:pointer;

}